<div class="list-group list-group-root well">

  <a href="#" class="list-group-item" style="background-color:lavender"><strong><i class="fa fa-newspaper-o" aria-hidden="true"></i>
    信息发布</strong></a>
  <div class="list-group">
    <%= link_to announcements_path, class: "list-group-item" do %>
        <i class="fa fa-angle-right fa-fw"></i> 通知公告
    <% end %>
    <%= link_to departments_path, class: "list-group-item" do %>
        <i class="fa fa-angle-right fa-fw"></i> 部门概况
    <% end %>
    <%= link_to companynews_index_path, class: "list-group-item" do %>
        <i class="fa fa-angle-right fa-fw"></i> 公司新闻
    <% end %>
    <%= link_to materials_path, class: "list-group-item" do %>
        <i class="fa fa-angle-right fa-fw"></i> 资料下载
    <% end %>
  </div>

  <a href="#" class="list-group-item" style="background-color:lavender"><strong><i class="fa fa-microphone" aria-hidden="true"></i>
    会议安排</strong></a>
  <div class="list-group">
    <a href="#" class="list-group-item"><i class="fa fa-angle-right fa-fw"></i> 会议信息</a>
  </div>

  <a href="#" class="list-group-item" style="background-color:lavender"><strong><i class="fa fa-pencil-square-o" aria-hidden="true">
  </i> 规章制度</strong></a>
  <div class="list-group">
    <a href="#" class="list-group-item"><i class="fa fa-angle-right fa-fw"></i> 合同管理</a>
    <a href="#" class="list-group-item"><i class="fa fa-angle-right fa-fw"></i> 社会保险</a>
    <%= link_to vacations_path, class: "list-group-item" do %>
        <i class="fa fa-angle-right fa-fw"></i> 公时休假
    <% end %>
    <a href="#" class="list-group-item"><i class="fa fa-angle-right fa-fw"></i> 报销管理</a>
  </div>

</div>
