<div class="panel with-nav-tabs panel-info">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1default" data-toggle="tab">通讯录</a></li>
      <li><a href="#tab2default" data-toggle="tab">聊天</a></li>
    </ul>
  </div>
  <div class="panel-body" style="min-height: 450px;max-height: 450px;overflow: scroll;">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1default">
        <ul class="list-group">
          <% (User.all-[current_user]).each do |user| %>
              <li class="list-unstyled">
                <div class="dropdown">
                  <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <%= image_tag "user-icon.png", class: "img-sm" %>
                    <text class="text-muted"><%= user.name %></text>
                  </a>

                  <ul class="dropdown-menu">
                    <li><%= link_to '发起聊天', shortcut_chat_path(user) %></li>
                    <li><%= link_to '用户详情', user_path(user) %></li>
                  </ul>
                </div>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane fade" id="tab2default">
        <ul class="list-group">
          <% Chat.all.each do |chatroom| %>
              <li class="list-unstyled" style="margin-bottom: 10px;margin-top: 10px;">
                <%= link_to chat_path(chatroom) do %>
                    <%= image_tag "foro.png", class: "img-sm", style: "margin-right:5px;" %> <%= chatroom.name %>
                <% end %>
              </li>
          <% end %>

        </ul>
      </div>

    </div>
  </div>
</div>